<html>
<head>
	<title>Página de Login</title>
</head>
<body bgcolor="darkpink">
	<h1> Login ! </h1>
	<p>Faça login e comente !</p>
	<form action="Controller.php" method="GET">
		<label>
			Usuario:
			<input type="text" name="usuario"/>
		</label>
		<br>
		<label>
			Senha:
			<input type="password" name="senha"/>
		</label>
		<br>
		<label>
			<input type="submit" name="enviar" value="FAZER LOGIN!"/>	
		</label>
		<br>
		<label>
			E aqui vai uma homenagem pra sua página ficar mais legal (y)
			<br>
			<img src="https://scontent-a-ord.xx.fbcdn.net/hphotos-xfa1/t1.0-9/p417x417/1506463_668544839872525_1822140522_n.jpg"></img>

		</label>	
</body>
</html>